.butn-green {
  background: #27e874;
  background-image: -webkit-linear-gradient(top, #27e874, #08c72e);
  background-image: -moz-linear-gradient(top, #27e874, #08c72e);
  background-image: -ms-linear-gradient(top, #27e874, #08c72e);
  background-image: -o-linear-gradient(top, #27e874, #08c72e);
  background-image: linear-gradient(to bottom, #27e874, #08c72e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #111111;
  -webkit-box-shadow: 0px 1px 2px #111111;
  -moz-box-shadow: 0px 1px 2px #111111;
  box-shadow: 0px 1px 2px #111111;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn-green:hover {
  background: #2ecc40;
  background-image: -webkit-linear-gradient(top, #2ecc40, #3d994b);
  background-image: -moz-linear-gradient(top, #2ecc40, #3d994b);
  background-image: -ms-linear-gradient(top, #2ecc40, #3d994b);
  background-image: -o-linear-gradient(top, #2ecc40, #3d994b);
  background-image: linear-gradient(to bottom, #2ecc40, #3d994b);
  color: #ffffff;
  text-decoration: none;
}

a.butn-green:visited {color: #ffffff;}