html,body {
  background: #FFF;
  color: #111;
  font-size: 24px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.butn-green {
  background: #27e874;
  background-image: -webkit-linear-gradient(top, #27e874, #08c72e);
  background-image: -moz-linear-gradient(top, #27e874, #08c72e);
  background-image: -ms-linear-gradient(top, #27e874, #08c72e);
  background-image: -o-linear-gradient(top, #27e874, #08c72e);
  background-image: linear-gradient(to bottom, #27e874, #08c72e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #111111;
  -webkit-box-shadow: 0px 1px 2px #111111;
  -moz-box-shadow: 0px 1px 2px #111111;
  box-shadow: 0px 1px 2px #111111;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn-green:hover {
  background: #2ecc40;
  background-image: -webkit-linear-gradient(top, #2ecc40, #3d994b);
  background-image: -moz-linear-gradient(top, #2ecc40, #3d994b);
  background-image: -ms-linear-gradient(top, #2ecc40, #3d994b);
  background-image: -o-linear-gradient(top, #2ecc40, #3d994b);
  background-image: linear-gradient(to bottom, #2ecc40, #3d994b);
  color: #ffffff;
  text-decoration: none;
}

a.butn-green:visited {color: #ffffff;}

.center-text {
  text-align: center;
}

.container {
  margin: auto;
  max-width: 90%;
}

.flex-col {
  background: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.flex-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-item {
	background: #FFF;
	margin-bottom: 12px;
	padding: 12px;
}

.photo-reel {
  	margin: 32px auto;
  	padding: 0;
}

.photo-reel img {
	width: 100%;
	height: 100%;
}

.reel-item {
  background: #111;
  padding: 12px;
}

.small {
  font-size: .75em;
}

a {
  color: #2ecc40;
  text-decoration: none;
}

a:hover {
  color: #3d9970;
}

a:visited {
  color: #2ecc40;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}

header {
  padding-bottom: 16px;
  text-align: center;
}

header .titles {
  background: #FFF;
  margin: 0;
  padding: 12px 0;
}

header .titles h1 {
  font-family: Paralucent, sans-serif;
  font-size: 75px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

header .titles h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

header img {
  background: #FFF;
  max-height: 300px;
  max-width: 90%;
  margin: 16pt 0;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

@media screen and (min-width: 400px){
	.flex-col {
		width: 100%;
		justify-content: center;
	}
	.flex-item {
		padding: 0;
	}
	.photo-reel {
		width: 98%;
	}
	.container {
		width: 90%;
	}
}

@media screen and (min-width: 1000px){
	.flex-col {
	    width: 48%;
	}
	.flex-item {
	  width: 450px;
	}
	.photo-reel {
	  height: 640px;
	  width: 960px;
	}
	.container {
	    width: 960px;
	}
}